<main class="main">

  <%# if current_user.avatar? %>
    <%#= image_tag(current_user.avatar_url) %>
  <%# else %>
    <%#= render "application/avatar" %>
  <%# end %>

  <div><%#= current_user.avatar_url %></div>
  <div><%#= current_user.nickname %></div>
  <div><%#= current_user.email %></div>

  <div><%#= link_to "Редактировать профиль", edit_user_by_nickname_path(current_user.nickname) %></div>

</main>
