<div class="item__preview">
  <%= link_to linkProps.url, target: "_blank", class: "link" do %>

    <div class="image__preview">

    </div>
    <h2 class="title__preview"><%= linkProps.title %></h2>
    <div class="url__preview"><%= linkProps.url %></div>
    <div class="description__preview"><%= linkProps.description %></div>

  <% end %>
</div>
