<!-- <div class="thumbnailText">
    <h1><%#= link.title.truncate(50) %></h1>
    <p><%#= link.description.truncate(100)%></p>
    <p class="link"><%#= image_tag(link.favicon)%><%#= link.url.to_s.truncate(60) %></p>
  </div>
  <div class="thumbnailImage">
    <%#= image_tag(link.images.first.src.to_s)%>
</div> -->
