<section class="container__form">

  <h1 class="header__form">Изменить ссылку</h1>

  <%= render 'form', link: @link %>

  <%= link_to 'Show', @link %> |
  <%# <%= link_to 'Back', links_path %> %>

</section>
