<main class="main">
  <section class="section_links-wrapper">

        <div>SHOW</div>

  </section>

    <div class="link__settings_edit_left">
      <%= link_to '← Назад', boards_path %>
    </div>

</main>
