<div class="actions">
  <div class="action_item"><%= link_to 'Добавить ссылку', new_link_path(@board), class: "button_new-link", remote: true %><div class="divider_mobile"></div></div>

  <div class="action_item"><%= link_to 'Редактировать доску', edit_board_path(@board), remote: true %><div class="divider_mobile"></div></div>

  <div class="action_item privacy_settings">Настройки доступа<div class="divider_mobile"></div></div>

  <% if board.published %>
    <div class="action_item share_url__button_copy">Скопировать ссылку<div class="divider_mobile"></div></div>
  <% end %>


  <div class="action_item">
    <% link_text = board.favourited ? "Убрать из сохранённых" : "Добавить в сохранённые" %>
    <%= link_to link_text, favourite_board_path(board), remote: true %>
    <div class="divider_mobile"></div>
  </div>

  <div class="action_item">Удалить доску<%#= link_to 'Удалить доску', destroy_board_path(board), remote: true %><div class="divider_mobile"></div></div>
</div>
