<section class="container__form">

  <h1 class="header__form">Изменение подборки</h1>

  <%= render 'form', board: @board %>

  <%= link_to 'Show', @board %> |
  <%#= link_to 'Back', boards_path %>

</section>
