<main class="main index_board">

  <section id="boardsPage">

    <section class="header_board">
      <h1 class="section_board__title">Без папки</h1>
      <hr>
    </section>
    <div class="container_preview">
      <%= render @links %>
    </div>
    <%= render @boards %>

  </section>
  
  <div id="loadMoreBoards"></div>

</main>
