<section class="menubar_bottom">
  <% if user_signed_in? %>
    <%= render "menubar_bottom" %>
  <% end %>
</section>

<main class="main index_board">

  <section id="boardsPage">

    <section class="header_board">
      <h1 class="section_board__title" style="opacity: .3; font-weight: 500;">Без папки</h1>
      <hr class="desktop">
    </section>
    <div class="container_preview container_backlog">
      <%= render @links %>
    </div>
    <%= render @boards %>

  </section>

  <div id="loadMoreBoards"></div>

</main>
