<main class="main">

  <div class="container_board">

    <p>Название:</p>
    <h1 class="header_board">
      <%= @board.title %>
    </h1>

    <p>Описание:</p>
    <p class="description_board">
      <%= @board.description %>
    </p>

  </div>

  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>

</main>
