<main class="main">

  <%= render 'boardheader', board: @board %>

  <section class="section_links" id="linksPage">
    <%= render 'links/newlink' %>
    <%= render @links %>
  </section>

  <div id="loadMoreBoards"></div>

</main>
