/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require switchery
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Graphik Kinopoisk LC";
  font-weight: normal;
  src: url('Graphik Kinopoisk LC-Regular.woff') format('woff'),
  url('<%= asset_path("Graphik Kinopoisk LC-Regular.woff") %>'), format('woff');
}

@font-face {
 font-family: "Graphik Kinopoisk LC";
 font-weight: 100;
 src: url('Graphik Kinopoisk LC-Light.woff') format('woff'),
 url('<%= asset_path("Graphik Kinopoisk LC-Light.woff") %>'), format('woff');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Graphik Kinopoisk LC", "Helvetica", sans-serif;
  color: #272727;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 60px;
}

.turbolinks-progress-bar {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #e5e5e5;
}

*::-moz-selection {
  background: #FEF259;
}

*::selection {
  background: #FEF259;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgba(0, 255, 255, .4) !important;
}

ol, ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #272727;
  text-decoration: none;
}

a,
a:visited:hover {
  background-color: none;
}

hr {
  border: .5px #F5F5F5 solid;
  margin: 15px 0 10px 0;
}

.main {
  width: 1218px;
  margin: 70px 0px 0px 121px;
}

.section_links-wrapper {
  margin-top: 70px;
}

.blur-filter {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: .6;
}

 /* Dark Mode */


.dark-mode,
.dark-mode .menubar {
  background-color: #000;
  color: #fff;
}

.darkmode .menubar a {
  color: #fff !important;
}

.dark-mode a {
  color: #fff;
}

.dark-mode .section_board__description {
  color: #afafaf;
}

.icon:hover {
  cursor: pointer;
}

.hint {
  background-color: #000;
  border-radius: 3px;
  width: 105px;
  height: 27px;
  position: absolute;
  display: none;
  bottom: 45px;
  left: -45px;
}

.hint.opened {
  display: block;
}

.hint::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: 47.5px;
  transform: rotate(45deg);
  background-color: #000;
}

.hint__text {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.3px;
}

 /* Media Queries */

 /*
   ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px
 */

 @media (min-width: 768px) and (max-width: 1024px) {


 }

 /*
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
 */

 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


 }

 /*
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */

 @media (min-width: 481px) and (max-width: 767px) {


 }

 /*
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
 */

 @media (min-width: 320px) and (max-width: 480px) {


 }
