@font-face {
  font-family: "Graphik Kinopoisk LC";
  font-weight: normal;
  src: asset-url('Graphik_Kinopoisk_LC-Regular.woff') format('woff');
}

@font-face {
  font-family: "Graphik Kinopoisk LC";
  font-weight: 100;
  src: asset-url('Graphik_Kinopoisk_LC-Light.woff') format('woff');
}
