.welcome.index {
  color: #333;
  padding: 0;
}

.welcome.index .menubar {
  padding: 30px 90px 0 0;
  border: none;
  display: block;
  position: absolute;
  background: transparent !important;
}

.section__content_center img {
  margin: 90px auto 0px;
}

.welcome.index .logo {
  display: none;
}

.landinglogo {
  margin-bottom: 30px;
}

.welcome.index hr {
  width: 963px;
  margin: 0 0 30px 0;
}

.welcome.index .menubar_right {
  position: absolute;
  right: 65px;
  top: 30px;
  color: white;
}

.welcome.index .menubar_right__button {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.welcome.index .menubar_right__button:last-child {
  margin-right: 0px;
}

.button_landing {
  display: block;
  font-size: 18px;
  line-height: 55px;
  font-weight: 500;
  width: 200px;
  height: 55px;
  background: #14AAFF;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  transition: all .3s ease;
  margin: auto;
  cursor: pointer;
  margin: 10px auto 120px;
}

.button_landing:hover {
  background: #fff;
  color: #14AAFF;
  border: 2px solid #14AAFF;
}

.cover .button_landing,
.button__clear {
  background: #cccccc8a;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  margin: 60px auto 120px;
}

.cover .button_landing:hover,
.button__clear:hover {
  background: #fff;
  color: #333;
  border: 2px solid #fff;
}

.welcome.index section {
  min-height: 100vh;
  border: 1px solid transparent;
}

.welcome.index section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
}

.welcome.index h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 15px;
}

.icon_landing {
  margin-bottom: 45px;
}

.welcome.index section p {
  line-height: 150%;
}

.welcome.index .cover {
  text-align: center;
  background-image: url(blur.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #F8F1FF;
  background-origin: content-box;
}

.welcome.index .cover p {
  font-weight: 600;
  font-size: 40px;
  line-height: 130% !important;
}

.cover__content {
  margin: 220px auto;
  width: 817px;
  color: #f3f3f3;
}

.cover__video img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  filter: blur(7px);
  height: 100%;
  width: 100%;
}

.section__content_center {
  margin: 220px auto;
  width: 817px;
  margin: 0 auto;
  width: 670px;
  text-align: center;
}

.content_center_autowidth {
  width: auto;
}

.section__content_center h2 {
  margin: 120px 0 60px;
}

.section__content_center p {
  width: 670px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  color: #636363;
  margin: 0px 0px 90px 0;
}

.section__content_left {
  margin-left: 251px;
}

.section__content_grid {
  margin: auto;
  width: 1097px;
}

.section__content_left p,
.section__flex p {
  font-weight: normal;
  font-size: 20px;
  width: 457px;
  text-align: left;
}

.section__content_left h2 {
  margin: 80px 0 20px;
}

.section__pages {
  width: 100%;
  height: 800px;
  position: relative;
  margin: -330px auto;
}

/* .area {
  width: 900px;
  height: 900px;
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* .area:hover ~ img {
  opacity: 0;
} */

.button__clear {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.button__clear:hover {
  opacity: 0;
}

.button__clear:hover ~ img {
  opacity: 0;
}

.page {
  height: 450px;
  cursor: grab;
  transition: all 2s ease;
}

.page:hover {
  transform: translateY(-30px);
}

.page:first-of-type {
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: 3;
}

.page:nth-of-type(2) {
  position: absolute;
  bottom: 10px;
  right: -400px;
  z-index: 2;
}

.page:nth-of-type(3) {
  position: absolute;
  top: 220px;
  left: 220px;
  z-index: 4;
}

.page:first-of-type:hover,
.page:nth-of-type(2):hover,
.page:nth-of-type(3):hover,
.page:nth-of-type(4):hover,
.page:nth-of-type(5):hover,
.page:nth-of-type(6):hover {
  z-index: 110;
}

.page:nth-of-type(4) {
  position: absolute;
  top: 70px;
  right: 150px;
  z-index: 5;
}

.page:nth-of-type(5) {
  position: absolute;
  bottom: 0px;
  left: -350px;
}

.page:nth-of-type(6) {
  position: absolute;
  bottom: 50px;
  right: 350px;
}

.flex__qualities {
  width: 1097px;
  display: flex;
  text-align: left;
  margin: 120px auto 0px;
  justify-content: space-between;
}

.flex__qualities p {
  width: 290px;
  font-size: 18px;
}

.flex__component {
  display: flex;
  margin: 120px 0;
  width: 1056px;
}

.flex__component:first-of-type,
.flex__component:nth-of-type(3) {
  text-align: right;
}

.flex__component img {
  margin-right: 76px;
}

.flex__component p,
.flex__component div {
  width: 360px;
}

.flex__component:first-child div,
.flex__component:nth-child(3) div {
  margin-right: 76px;
  text-align: right;
  width: 460px;
}

.flex__component:first-child p,
.flex__component:nth-child(3) p {
  text-align: right;
  width: 460px;
}

.flex__component:first-child img,
.flex__component:nth-child(3) img {
  margin-right: 0;
}

.twocolumns {
  display: flex;
}

.twocolumns p:first-child {
  margin-right: 26px;
}

.grey {
  background: #F8F1FF;
}

.black {
  background: #1f1f1f;
}

.black p {
  color: #dadada;
}
