.section_linksWrapper {
  margin: auto;
}

.section_links {
  width: 100%;
  height: 100%;
  display: flex;
}

.link__item {
  position: relative;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  transition: box-shadow .2s ease;
}

.icon_plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.link__item:nth-child(3n+3){
  margin-right: 0px;
}

.link__item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.link__image img {
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.randomcover {
  border-radius: 3px 3px 0 0;
}

.link__content {
  transition: .3s transform ease;
}

.link__title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link__description {
  color: #636363;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Links Preview */

.container_preview .link__item {
  width: 228px;
  height: 180px;
  position: relative;
}

.container_preview:last-child {
  margin-right: 0px;
}

.container_preview .link__item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.link__item_newlink {
  border: 1px dashed #adb5bd !important;
  box-shadow: none !important;
  position: relative;
}

.link__item_newlink:hover {
  background-color: #fdfdfd;
}

.container_preview,
.container_preview_sortable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* .container_preview.link__item_newlink {
  margin-right: 20px;
} */

.container_preview .link__image img {
  width: 228px;
  height: 120px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.container_preview .randomcover {
  width: 228px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.container_preview .link__content {
  max-width: 205px;
  margin: 6px 13px 9px 10px;
}

.container_preview .link__title {
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
}

.container_preview .link__description {
  margin: 8px 0px 0px 0px;
  line-height: 16px;
  font-size: 13px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.link__item:hover > .link__settings,
.link__item:hover > .link__number {
  opacity: 1;
}

/* DESKTOP */
 @media (min-width: 1024px) and (max-width: 1440px) {

  .section_links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /*margin-left: 70px;
    margin-right: 70px;*/
  }

  .link__item, .link__item_newlink {
    width: 380px;
    height: 300px;
    /*margin-bottom: 70px;
    margin-right: 20px;*/
  }

  .link__image img, .randomcover {
    width: 380px;
    height: 200px;
  }

  .link__content {
    max-width: 315px;
    margin: 5px 50px 17px 15px;
  }

  .link__title {
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
  }

  .link__description {
    font-size: 14px;
    line-height: 22px;
    margin: 6px 0px 0px 0px;
    height: 40px;
  }

  .link__settings {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: opacity .2s ease;
    opacity: 0;
  }

  .link__number {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: opacity .2s ease;
    opacity: 0;
    border-radius: 50%;
    background: #fff;
    color: #999;
    text-align: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 32px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .container_preview .link__item {
    margin-right: 18px;
    margin-bottom: 18px;
  }
}

@media (min-width: 1140px) and (max-width: 1279px) {

  .container_preview .link__item {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {

  .container_preview .link__item {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}



/* TABLET */
@media (min-width: 502px) and (max-width: 1023px) {

  .section_links {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  }

}

/* MOBILE AND TABLET */
@media (min-width: 481px) and (max-width: 1023px), (min-width: 320px) and (max-width: 480px) {

  .section_links {
    margin-top: 20px;
  }

  .link__item, .link__item_newlink {
    width: 290px;
    height: 230px;
  }

  .link__image img, .randomcover {
    width: 290px;
    height: 153px;
  }

  .link__content {
    max-width: 270px;
    margin: 8px 10px 0px 10px;
  }

  .link__title {
    font-size: 15px;
    line-height: 15px;
    margin: 0px;
  }

  .link__description {
    font-size: 12px;
    line-height: 18px;
    margin: 6px 0px 0px 0px;
    height: 32px;
  }

  .link__number {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 1;
    border-radius: 50%;
    background: #fff;
    color: #999;
    text-align: center;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .link__settings img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;
  }

}

/* M O B I L E */
@media (min-width: 320px) and (max-width: 501px) {

  .section_links {
    flex-direction: column;
    align-items: center;
    /*margin-left: 15px; это убираем потому что в у main внутри которого это лежит уже есть марджены
    margin-right: 15px;*/
  }

  .link__item, .link__item_newlink {
    margin-bottom: 20px;
  }

}
