.section_linksWrapper {
  width: 90%;
  margin: auto;
  margin-top: 80px;
}

.section_links {
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-flow: row wrap;
}

.link__section .link__item_newlink {
  width: 380px;
  height: 300px;
}

.link__item {
  width: 380px;
  height: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 70px;
  margin-right: 75px;
  cursor: pointer;
  transition: all .2s ease;
}

.icon_plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
}

.link__item:nth-child(3n+3){
  margin-right: 0px;
}

.link__item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.link__image img {
  width: 380px;
  height: 200px;
  object-fit: cover;
}

.link__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 5px 14px 5px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link__url {
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  margin: 5px 14px 12px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link__settings {
  margin-left: 20px;
  display: flex;
  align-content: flex-end;
  transition: all .2s ease;
}

.link__settings a {
  margin-right: 10px;
  font-size: 13px;
  color: #cccccc !important;
}

.link__settings:hover {
  color: #272727 !important;
}

/* LINKS PREVIEW */

.container_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
 }

.container_preview .link__item {
  width: 190px;
  height: 150px;
  margin-right: 40px;
  margin-bottom: 20px;
  position: relative;
}

.container_preview .link__item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.link__item_newlink {
  border: 1px dashed #adb5bd !important;
  box-shadow: none !important;
  position: relative;
}

.link__item_newlink:hover {
  background-color: #fbfbfb;
}

.container_preview .link__image img {
  width: 190px;
  height: 100px;
  object-fit: cover;
}

.container_preview .link__title {
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_preview .link__url {
  font-size: 12px;
  line-height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_preview .link__settings {
  display: none;
}
