* {
  &:focus {
    outline: none;
  }
}

.section_board-in-links {
  width: 75%;
  margin: auto;
}

.section_board-in-links .header_board {
  font-size: 55px;
  margin-bottom: 15px;
  margin-top: 100px;
}

.section_board-in-links .description_board {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  width: 450px;
}

.link__section {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.link__section-one-link {
    position: relative;
}

.link__item {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 330px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 40px 0;
  transition: all .2s ease;
}

.link__item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.link__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 10px 14px 12px 20px;
}

.link__url {
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  margin: 10px 14px 15px 20px;
}

.link__settings {
  margin-left: 20px;
  display: flex;
  align-content: flex-end;
  opacity: 0;
  transition: all .2s ease;
}

.link__settings_show {
  opacity: 1;
}

.link__settings a {
  margin-right: 10px;
  font-size: 13px;
}

#more-btn-link {
  margin-left: 20px;
  opacity: 1;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.link__settings_flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
