@import url('https://fonts.googleapis.com/css?family=Spectral');

.menubar {
  box-sizing: border-box;
  position: fixed;
  z-index: 134;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: solid #e5e5e5 1px;

  a,
  a:visited {
    font-size: 16px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
    transition: all .3s ease;

    &:hover {
      color: #9a9a9a;
      background-color: #fff;
    }
  }


.menubar__left a {
  margin-right: 45px;
}

.menubar__left a:last-child {
  margin-right: 0;
}

/* test. it works */ .menubar__left a:active {
   color: #cccccc;
}

/* but nothing happens here */ .menubar__left a:visited {
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.menubar__right {
  display: flex;
  justify-content: space-between;
}

.menubar__right a {
  margin-right: 35px;
}

.menubar__right a:last-child {
  margin-right: 0;
}

.avatar {
  display: flex;
}

.avatar a {
  margin-right: 10px;
}

.avatar a:last-child {
  margin-right: 0;
}

.image__avatar {
  width: 36px;
  height: 36px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: auto;
  margin-left: 5px;
}
}
