.menubar {
  box-sizing: border-box;
  position: fixed;
  z-index: 134;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 70px;
  background-color: #fff;
  border-bottom: solid #f5f5f5 .1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.01);
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -60px;
}

.icon-bell {
  position: absolute;
}

.icon-bell__red-dot {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
  top: 20px;
  right: -16px;
}

.menubar a,
.menubar a:visited {
  font-size: 16px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
  transition: all .3s ease;
}

.menubar a:hover {
  background-color: none;
}

.menubar_left a {
  margin-right: 45px;
}

.menubar_left a:nth-child(2) {
  padding: 0px 10px 18px;
  /* border-bottom: 2px solid; */
}

.menubar_left a:last-child {
  margin-right: 0;
  transform: translateY(-1px);
}

.menubar_right {
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  margin: auto;
  padding: 5px;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  transition: background-color .2s ease-out;
  margin-right: 10px;
}

.icon-wrapper:hover {
  /* background-color: rgba(239, 239, 239, .4); */
  cursor: pointer;
}

.avatar {
  display: flex;
}

.avatar a {
  margin-right: 10px;
}

.avatar a:last-child {
  margin-right: 0;
}

.image_avatar {
  width: 36px;
  height: 36px;
  margin: auto;
  margin-left: 5px;
}

.image_avatar:hover {
  cursor: pointer;
}

form.edit_user .image_avatar {
  width: 100px;
  height: 100px;
  margin-left: 0px;
}

.link_logo {
  position: relative;
  transform: translateY(7px);
}

/* SEARCH */

.search {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  margin-top: 12px;
  margin-right: 20px;
  position: relative;
}

.search__submit {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 5px;
}

.search__submit:hover {
  cursor: pointer;
}

.search__textfield {
  background-color: #fff;
  height: 30px;
  width: 80px;
  border: none;
  font-size: 16px;
  padding: 2px;
  padding-left: 40px;
  transition: all .2s ease;
}

.search__textfield:focus {
  width: 260px;
}

.search__textfield_opened {
  width: 260px;
}
