@media all {

  .menu {
    color: #272727;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
  }

  /* 3 Dot Menu */

  .section_board__heading .container__menu-dropdown {
    position: absolute;
    top: 15px;
    left: -60px;
  }

  .section_board__heading .menu-dropdown {
    left: -50px;
    top: 10px;
  }

  .section_boardInLinks__heading .menu-dropdown {
    right: -50px;
    top: 25px;
  }

  .more {
    position: relative;
  }

  .button-more {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 0;
  }

  .button-more_shown {
    opacity: 1;
  }

  .button-more__dot {
    background-color: #ccc;
    margin: 0 auto;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 1px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .3s ease;
  }

  /* Dropdown Menu */

  .menu-dropdown {
    /*font-size: 14px;
    line-height: 12px;*/
    border-radius: 4px;
    display: none;
    overflow: visible;
    position: absolute;
    right: -9999px;
    top: -9999px;
    /*width: 240px;*/
    z-index: 999;
    /*transition: all .3s ease;*/
    -webkit-transform: translateZ(0);
  }

  .menu-dropdown__username a {
    line-height: 24px !important;
    font-size: 14px !important
  }

  .menu-dropdown:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8px;
    left: calc(50% - 10px);
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: -3px -3px 5px -3px rgba(0, 0, 0, 0.05);
    z-index: -2;
  }

  .menu-dropdown.menu-dropdown_edit-link:before {
    display: none;
  }

  .menu-dropdown_settings:before {
    left: calc(70% - 10px);
  }

  .menu-dropdown_edit-board {
    font-size: 12px;
    width: 200px;
  }

  .menu-dropdown_edit-link {
    font-size: 12px;
    width: 140px;
    height: auto;
    z-index: 134;
    border-radius: 0 2.8px 0 4px !important;
  }

  .menu-dropdown_shown {
    display: block;
    position: absolute;
    right: 3px;
    top: 63px;
    border-radius: 4px;
  }

  .menu-dropdown_shown.menu-dropdown_edit-link {
    top: 0px;
    right: 0px;
  }

  .menu-dropdown__username {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #F5F5F5;
    text-align: center;
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
  }

  .menu-dropdown__list {
    overflow: hidden;
    z-index: 1001;
    /* margin: 5px 0; */
  }

  .menu-dropdown__list li {
    padding: 0px;
    height: 35px;
    display: flex;
    align-items: center;
    transition: all .1s ease;
  }

  .menu-dropdown_edit-link .menu-dropdown__list li:first-child {
    padding-top: 0px;
    border-radius: 0px 2.8px 0px 0px;
  }

  .menu-dropdown_edit-link .menu-dropdown__list li:last-child {
    border-radius: 0px 0px 0px 4px !important;
  }

  .menu-dropdown__list li:last-child {
    border-radius: 0px 0px 4px 4px;
  }

  .menu-dropdown__list li:hover {
    background: #F9F9F9;
  }

  /* .menu-dropdown__list li:last-child:hover {
    background: #fff;
  }

  .menu-dropdown__list li:last-child:hover > a {
    color: #FF3D00;
  } */

  /* перенесла в десктоп
  .menu-dropdown__list a {
    margin-left: 10px;
    line-height: 35px !important;
    font-size: 14px !important;
    display: block;
    white-space: nowrap;
    transition: all .2s ease;
  }

  .menu-dropdown_edit-board li,
  .menu-dropdown_edit-link li {
    height: 35px;
    font-weight: normal;
  }

  .menu-dropdown_edit-board a,
  .menu-dropdown_edit-link a {
    line-height: 30px !important;
  } */

  /* Add Menu */

  .menu-dropdown_add {

  }

  .menu-dropdown_add .menu-dropdown__list li:first-child {
    border-radius: 2.8px 2.8px 0px 0px;
  }

  /* Settings Menu (on Avatar) */

  .menu-dropdown_settings {

  }

}

/* DESKTOP */
@media (min-width: 1024px) and (max-width: 1440px), screen and (min-width: 1441px)  {
  .menu-dropdown {
    font-size: 14px;
    line-height: 12px;
    width: 240px;
    transition: all .3s ease;
  }

  .menu-dropdown__list a {
    margin-left: 10px;
    line-height: 35px !important;
    font-size: 14px !important;
    display: block;
    white-space: nowrap;
    transition: all .2s ease;
  }

  .menu-dropdown_edit-board li,
  .menu-dropdown_edit-link li {
    height: 35px;
    font-weight: normal;
  }

  .menu-dropdown_edit-board a,
  .menu-dropdown_edit-link a {
    line-height: 30px !important;
  }

  .link__item  .menu-dropdown {
    width: 120px;
  }

}

/* D E S K T O P AND T A B L E T*/
@media (min-width: 502px) and (max-width: 1023px), (min-width: 1024px) and (max-width: 1440px) , screen and (min-width: 1441px) {

  /* Privacy Menu */

  .container__menu-privacy {
    position: absolute;
    width: 400px;
    border-radius: 3px;
    top: -10px;
    right: 250px;
    z-index: 1002;
    display: none;
    border: .5px #F5F5F5 solid;
  }

  .menu-privacy__content {
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    height: 155px;
    flex-direction: column;
  }

  .menu-privacy__list {
    font-size: 16px;
  }

  .menu-privacy__list li {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    height: 21px;
    margin-bottom: 25px;
    transition: all .2s ease;
  }

  .menu-privacy__list li:hover {
    cursor: pointer;
  }

  .menu-privacy__list li:last-child {
    margin-bottom: 0;
  }

  .menu-privacy__item {
    cursor: text;
  }

  .menu-privacy__icon {
    margin-right: 12px;
  }

  .menu-privacy__toggle {
    position: absolute;
    right: 25px;
  }

  .toggle__body {
    width: 36px;
    height: 21px;
    background: #DDDDDD;
    border-radius: 37px;
    position: relative;
  }

  .toggle__circle {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease-out;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  }

  .active .toggle__body {
    /* background: #2C4CFB; */
    /* background: #00E500; */
    background: #000;
  }

  .active .toggle__circle {
    right: 2px;
    top: 2px;
    transform: translateX(15px);
  }

  .menu-privacy__buttons {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
  }

  .menu-privacy__buttons a {
    color: #888888 !important; /*disable*/
    transition: all .2s ease;
  }

  .menu-privacy__buttons a:hover,
  .menu-privacy__buttons a.active
   {
    color: #000 !important;
  }

  .icon_trash {
    transform: translateY(-1px);
  }

}

/* T A B L E T  A N D  M O B I L E */
/* @media (min-width: 320px) and (max-width: 480px), (min-width: 481px) and (max-width: 1023px) {

  .menu-dropdown:before {
    display: none;
  }
}*/

/* T A B L E T */

@media (min-width: 502px) and (max-width: 1023px) {

}

/* M O B I L E */

@media (min-width: 320px) and (max-width: 501px) {

  .menu-dropdown:before {
    display: none;
  }

  .burger_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 1000;
    width: 100%;
    top: 40px;
  }

  .user_string {
  }

  .menu-dropdown__avatar {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 15px;
    top: 9px;
  }

  .menu-dropdown__username {
    margin: auto;
  }

  .menu-dropdown__list {

  }

  .menu-dropdown__list li,
  .menu-dropdown__username {
    font-size: 18px;
    line-height: 50px;
    height: 50px;
  }

  .menu-dropdown__list li {
    margin-left: 15px;
  }

  .menu-dropdown_search {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 135px;
    left: 0px;
    top: 40px;
    background: #FFFFFF;
  }

  .search_section_field {
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .search_image {
    width: 16px;
  }

  .search_image.mobile_search__submit img {
    width: 16px;
    height: 16px;
    left: 0px;
  }

  .menubar_middle__item {
    font-size: 15px;
  }

  /* Board actions popup*/

  .menu {
    box-shadow: none;
  }

  .ellipsis {
    position: absolute;
    top: 60px;
    left: auto;
    right: 15px;
  }

  .icon-ellipsis img {
    width: 16px;
    height: 16px;
  }

  .board_actions_popup {
    border-radius: 4px;
    z-index: 1001;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: -3px -3px 5px -3px rgba(0, 0, 0, 0.05);
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .action_item .divider_mobile {
    width: 480px;
  }

  .action_item, .actions_close {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
  }

  .actions_close {
    background-color: #FFFFFF;
    margin-top: 10px;
  }

  .actions, .actions_close {
    border-radius: 4px;
  }

  /*edit link*/

  .menu-dropdown_edit-link {
    z-index: 1001;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: 80px;
    width: 100%;
    height: 150px;
  }

  .menu-dropdown_edit-link .menu-dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-dropdown_edit-link .menu-dropdown__list li, .edit_close {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
  }


  /* Privacy Menu */

  .container__menu-privacy {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: -3px -3px 5px -3px rgba(0, 0, 0, 0.05);
    height: 270px;
    border-radius: 4px;
    z-index: 1002;
    display: none;
  }

  .menu-privacy__content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu-privacy__list {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .menu-privacy__list li {
    display: flex;
    justify-content: flex-start;
    height: 24px;
    margin-bottom: 22px;
    transition: all .2s ease;
  }

  .menu-privacy__list li:hover {
    cursor: pointer;
  }

  .menu-privacy__list li:last-child {
    margin-bottom: 20px;
  }

  .menu-privacy__item {
    cursor: text;
  }

  .menu-privacy__icon {
    margin-right: 12px;
  }

  .menu-privacy__toggle {
    position: absolute;
    right: 25px;
  }

  .toggle__body {
    width: 36px;
    height: 21px;
    background: #DDDDDD;
    border-radius: 37px;
    position: relative;
  }

  .toggle__circle {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease-out;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  }

  .active .toggle__body {
    /* background: #2C4CFB; */
    /* background: #00E500; */
    background: #000;
  }

  .active .toggle__circle {
    right: 2px;
    top: 2px;
    transform: translateX(15px);
  }

  .menu-privacy__footer {
    margin-top: 20px;
  }

  .menu-privacy__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    cursor: pointer;
  }

  .menu-privacy__buttons a {
    transition: all .2s ease;
    margin-bottom: 22px;
  }

  .menu-privacy__buttons:last-child {
    margin-bottom: 0px;
  }

  .menu-privacy__buttons a:hover,
  .menu-privacy__buttons a.active
   {
    color: #000 !important;
  }

  .icon_trash {
    transform: translateY(-1px);
  }
}
