<header class="menubar">
  <div>
  <%= link_to 'Boards', boards_path %>
  <%= link_to 'Links', links_path %>
  <%= link_to 'User', users_path %>
  </div>

  <a href="#" id="signInButton">Sign In</a>
</header>
