<header class="menubar">

  <div class="menubar__left">
    <%= link_to 'Index', welcome_index_path%>
    <%= link_to 'Мои подборки', boards_path %>
  </div>

  <div class="menubar__right">
    <%= link_to 'Добавить подборку', new_board_path %>
    <%= link_to 'Добавить ссылку', new_link_path %>
  </div>

  <div class="avatar">
    <a>@kirillivanov</a>
    <div class="image__avatar"></div>
  </div>

</header>
