<div class="navmenu">

  <div class="navmenu__item">Архитектура</div>
  <div class="navmenu__item">Дизайн</div>
  <div class="navmenu__item">Учеба</div>
  <div class="navmenu__item">Статьи</div>
  <div class="navmenu__item">Волосы</div>
  <div class="navmenu__item">Вопросы</div>

</div>
