<div class="section_settings">
  <div class="container-menu">
  <div class="more">
      <div id="more-btn" class="more-btn">
          <span class="more-dot"></span>
          <span class="more-dot"></span>
          <span class="more-dot"></span>
      </div>
      <div class="more-menu">
          <div class="more-menu-caret">
              <div class="more-menu-caret-outer"></div>
              <div class="more-menu-caret-inner"></div>
          </div>
          <ul class="more-menu-items" tabindex="-1" role="menu" aria-labelledby="more-btn" aria-hidden="true">
              <li class="more-menu-item" role="presentation">
                  <div type="button" class="more-menu-btn" role="menuitem"><%= link_to 'Настройки' %></div>
              </li>
              <li class="more-menu-item" role="presentation">
                  <button type="button" class="more-menu-btn" role="menuitem"><%= link_to "Выйти", destroy_user_session_path, method: :delete %></button>
              </li>
            </ul>
        </div>
    </div>
  </div>
</div>
