<div class="container__share-url menu">

  <div class="share-url"><%= 'localhost:3333/boards' + 'b9106b84-cb60-4db5-99cd-c31df11a43dc' %></div>
  <div class="share_url__button" id="share_url__button">Скопировать</div>

</div>
